.cardBig {
    display: flex;
    flex-direction: column;
    color: white;
    background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0% 0%
        no-repeat padding-box;
    padding: 3% 0 3% 0;
    margin: 10vh 10px 4.9vh 10px;
    border-radius: 5px;
    border: thin solid rgba(255, 255, 255, 0.04);
    cursor: default;
    margin-bottom: 50px;
}

.cardBig_hero {
    display: flex;
}
.cardBig_options_test {
    display: flex;
    justify-content: space-between;
}
.cardBig_price {
    text-align: right;
}
.cardBig_col {
    width: auto;
    margin: auto auto auto 2rem;
}

.cardBig_c2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardBig_promotion {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.herodiv2 {
    display: flex;

    flex-direction: row;
    background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0% 0%
        no-repeat padding-box;
    padding: 1.5% 0 1.5% 0;
    margin: 5% 20px auto 20px;
    color: white;
    border: thin solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    word-wrap: break-word;
    /* margin-top: 100px; */
    margin-bottom: 50px;
    cursor: pointer;
}
.herodiv_img2 {
    position: relative;
    width: 80%;
    height: 164px;
    overflow: visible;
}
.herodiv_img2 > div {
    overflow: visible !important;
}
.herodiv_img2 img {
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin: auto;
    top: -30% !important;
    object-fit: contain;
    border-radius: 12px;
}

.herodiv_col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: auto auto auto 2rem;
    padding-bottom: 10px;
    width: 84%;
    padding-right: 10px;
    height: 170px;
}

.hero_name2 {
    font-size: 18px;
    /* letter-spacing: 1px; */
    font-family: 'Sharp Sans No1 Bold', 'Noto Naskh Arabic', sans-serif;
}

.hero_desc2 {
    padding-bottom: 20px;
    /* margin: 1.5% auto 1.5% auto; */
    margin-top: 9px;
    margin-bottom: 9px;
    overflow: hidden;
    /* letter-spacing: 0.05rem; */
    height: 100px;
    font: normal normal 300 14px 'Sharp Sans No1 Book', 'Noto Naskh Arabic', sans-serif;
    font-size: 13px;
    max-width: 162px;
}
.cardBig_services {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardBig_service {
    width: 100%;
    margin: 10% 5% 10% 5%;
    background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0% 0%
        no-repeat padding-box;
    border-radius: 5px;
    border: thin solid rgba(255, 255, 255, 0.04);
    cursor: pointer;
}

.cardBig_img {
    position: relative;
    width: 90%;
    height: 100px;
    margin: auto;
    overflow: visible;
}

.cardBig_img > div {
    overflow: visible !important;
}

.cardBig_img img {
    border-radius: 5px;
    margin: auto;
    top: -25% !important;
}

.cardBig_desc {
    padding-left: 10%;
    margin-bottom: 5%;

    font: normal normal 300 18px 'Sharp Sans No1 Book', 'Noto Naskh Arabic', sans-serif;
}

.cardBig_name {
    font: normal normal 600 32px 'Sharp Sans No1 Bold', 'Noto Naskh Arabic', sans-serif;
    /* letter-spacing: 1px; */
}

.cardBig_h1 {
    margin-top: 2.5%;
    margin-bottom: 5%;
    font: normal normal 300 25px 'Sharp Sans No1 Bold', 'Noto Naskh Arabic', sans-serif;
    /* letter-spacing: 1px; */
    width: 100%;
    padding-left: 5%;
}

.cardBig_h1_ar {
    margin-top: 2.5%;
    margin-bottom: 5%;
    font: normal normal bold 25px 'Noto Naskh Arabic', sans-serif;
    /* letter-spacing: 1px; */
    width: 100%;
    padding-left: 5%;
}
.cardBig_h12 {
    margin-top: 2.5%;
    margin-bottom: 5%;
    font: normal normal 300 25px 'Sharp Sans No1 Bold', 'Noto Naskh Arabic', sans-serif;
    /* letter-spacing: 1px; */
    width: 100%;
}

.cardBig_h12_ar {
    margin-top: 2.5%;
    margin-bottom: 5%;
    font: normal normal bold 25px 'Noto Naskh Arabic', sans-serif;
    /* letter-spacing: 1px; */
    width: 100%;
}

.cardBig_options {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: transparent;
    width: 90%;
    margin: 2.5% auto;
    font-weight: lighter;
}

.cardBig_options > div {
    cursor: pointer;
    padding: 2% 2%;
    width: 100%;
    margin: 2.5% auto;
    max-height: 60px;
    border: 2px solid #ffffff15;
    border-radius: 5px;
    line-height: 1rem;
    overflow: hidden;
}

.search {
    border: none !important;
    padding: 0 !important;
}

.form {
    max-height: none !important;
    border: none !important;
    padding: 0 !important;
}

.form input {
    background: rgba(113, 113, 113, 0.23) 0% 0% no-repeat padding-box;
    width: 100%;
    color: #fff;
    padding: 15px;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid rgba(113, 113, 113, 0.23);
    border-bottom: 1px solid #e4e6e8;
    transition: 0.1s ease;
}

.search input {
    background: rgba(113, 113, 113, 0.23) 0% 0% no-repeat padding-box;
    width: 100%;
    color: #fff;
    padding: 15px;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid rgba(113, 113, 113, 0.23);
    border-bottom: 1px solid #e4e6e8;
    transition: 0.1s ease;
}

.form button {
    margin-top: 15px;
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 40px;
    border: 2px solid rgba(255, 255, 222, 0.23);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.search input:focus {
    border-color: #fff;
    outline: none;
}

.btnactive {
    background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0% 0%
        no-repeat padding-box;
}

.herodiv {
    display: flex;

    background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0% 0%
        no-repeat padding-box;
    padding: 1.5% 0 1.5% 0;
    margin: 5% 20px auto 20px;
    color: white;
    border: thin solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.herodiv_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: auto auto auto 2rem;
}

.hero_name {
    font-size: 21px;
}

.hero_desc {
    /* margin: 1.5% auto 1.5% auto; */
    margin-top: 9px;
    margin-bottom: 9px;

    font: normal normal 300 17px 'Sharp Sans No1 Book', 'Noto Naskh Arabic', sans-serif;
}

.herodiv_img {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: visible;
}

.herodiv_img > div {
    overflow: visible !important;
}

.herodiv_img img {
    margin-left: 10% !important;
    margin-right: 10% !important;
    top: -60% !important;
}
.cardBig_col_alt {
    display: none;
    margin: auto auto auto 2rem;
}

@media only screen and (min-width: 768px) {
    .herodiv {
        max-width: 350px;
        max-height: 200px;
    }

    .herodiv_img {
        width: min(20vw, 40vh, 400px);
        height: min(20vw, 40vh, 400px);
    }

    .herodiv_img img {
        border-radius: 5px !important;
        top: 0 !important;
        left: -30% !important;
    }
    .cardBig {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cardBig_c2 {
        width: auto;
        flex: 1;
    }

    .cardBig_hero {
        flex-direction: column-reverse;
        max-height: max-content;
        justify-content: flex-end;
    }

    .cardBig_col {
        display: none;
        margin-bottom: 10%;
        margin-top: 0;
    }

    .cardBig_promotion {
        margin-top: -10px;
        flex-wrap: wrap;
    }

    .cardBig_img {
        height: 8.5rem;
    }

    .cardBig_col_alt {
        width: 100%;
        display: block;
    }

    .cardBig_promotion {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .herodiv2 {
        display: flex;
        height: 190px;
        flex-direction: row;
        background: transparent linear-gradient(155deg, #ffffff31 0%, #ffffff00 100%) 0%
            0% no-repeat padding-box;
        padding: 1.5% 0 1.5% 0;
        margin: 5% 20px auto 20px;
        color: white;
        border: thin solid rgba(255, 255, 255, 0.08);
        border-radius: 5px;
        word-wrap: break-word;
        width: 44%;
        padding-bottom: 5px;
    }
    .herodiv_img2 {
        position: relative;
        width: 177px;
        height: 177px;
        overflow: visible;
    }
    .herodiv_img2 > div {
        overflow: visible !important;
    }
    .herodiv_img2 img {
        margin-left: 10% !important;
        margin-right: 10% !important;
        margin: auto;
        top: -50% !important;
        /* left: -20% !important; */
        object-fit: cover;
        border-radius: 15px;
    }

    .herodiv_col2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 54%;
        margin: auto auto auto 2rem;
        padding-bottom: 20px;
        margin-right: 10px;
        padding-left: 20px;
        margin-bottom: 0px;
        height: auto;
    }

    .hero_name2 {
        font-size: 19px;
        /* letter-spacing: 0.2px; */
        font-family: 'Sharp Sans No1 Bold', 'Noto Naskh Arabic', sans-serif;
    }
    .hero_desc2 {
        padding-bottom: 0px;
        /* margin: 1.5% auto 1.5% auto; */
        margin-top: 9px;
        margin-bottom: 0px;
        margin-right: 10px;
        /* letter-spacing: 0.08rem; */
        height: 84px;
        overflow: hidden;

        font: normal normal 300 14px 'Sharp Sans No1 Book', 'Noto Naskh Arabic',
            sans-serif;
    }
}

@media only screen and (min-width: 1024px) {
    .cardBig_services {
        grid-template-columns: 25% 25% 25%;
        padding-right: 5%;
    }
}
