.fabBG {
    position: fixed;
    bottom: 40px;
    right: 9vw;
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    color: white;
    cursor: default;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
}
